@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To The Login Page of the Application</h2>
    <p>Register a user to login to the page and use all of the features. Login to use all your features: Create notes, view notes, delete notes, delete users, and more!.</p>
</div>